<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="characterEncoding">utf8</property>

        <!-- Assume testDb Is The Database Name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/employees?serverTimezone=UTC </property>
        <property name="hibernate.connection.username">employees</property>
        <property name="hibernate.connection.password">pracownicy11</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- List of XML Mapping Files -->
        <!--
        <mapping resource="employee.hbm.xml"/>
        -->


    </session-factory>
</hibernate-configuration>